paccmann_predictor @ git+https://git@github.com/PaccMann/paccmann_predictor@sarscov2
paccmann_omics @ git+https://git@github.com/PaccMann/paccmann_omics@sarscov2
paccmann_chemistry @ git+https://git@github.com/PaccMann/paccmann_chemistry@sarscov2